@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body{
	font-family: Segoe UI;
	font-size: 14px;
	color: #666;
}
header{
	background-color: #202020;
}
footer{
	background-color: #fff;
	padding: 25px 0;
	border-top: 1px solid #f6f6f6;
	color: #333;
	text-align: center;
}
footer img {
    margin-bottom: 25px;
    margin-top: 10px;
}
#slides h3{
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	font-size: 80px;
	font-weight: 300;

}
#slides h3 span{
	color: #FF9306;
	font-family: 'Lato', sans-serif;
	font-size: 80px;
	text-transform: uppercase;
	
}
#slides h2{
	color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	letter-spacing: 5px; 
}
.titulo{
	color: #333;
	font-size: 50px;
	text-align: center;
	font-style: italic;
	margin-bottom: 30px;
	margin-top: 30px;
	font-weight: 400;
	font-family: 'Lato', serif;
}
.text-center {
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	letter-spacing: 2px;
	
}
#straight{
	background-image: url("../img/bg_pic1.jpg");
	background-size: cover;
	background-position: center;
	padding: 20% 0;
	text-align: center;
	color: #fff;
}
#straight h2{
	color: #fff;
	font-size: 50px;
	text-align: center;
	font-style: italic;
	font-weight: 600;
	margin-bottom: 20px;
	font-family: 'Lato', sans-serif;
}

#straight p{
	color: #fff;
	font-weight: 100;
	font-size: 30px;
	text-align: center;
	font-style: italic;	
	font-family: 'Lato', sans-serif;
}

.btn-naranja{
	background-color: #FF9306;
	color:#FFF;
	font-weight: bold;
	font-style: normal;
	font-size: 20px;
	text-transform: uppercase;
	padding: 15px 50px;
	border-radius: 0px;
	letter-spacing: 2px;
	border: 0;
}
.btn-dorado:hover{
	background-color: #fff;
	color: #af9f66;
}
#sames{
	background-image: url("../img/bg_pic3.jpg");
	background-size: cover;
	background-position: center;
	padding: 20% 0;
	text-align: center;
	color: #fff;
	font-family: 'Lato', sans-serif;
}
#sames h2{
	color: #fff;
	font-size: 50px;
	text-align: center;
	font-style: italic;
	font-weight: 600;
	margin-bottom: 20px;
	font-family: 'Lato', sans-serif;
}
#sames p{
	color: #fff;
	font-weight: 100;
	font-size: 30px;
	text-align: center;
	font-style: italic;
	font-family: 'Lato', sans-serif;
}
.icons{
font-size: 100px;
color: #333;
}
.icons:hover{
	color: #595959;
}